* {
    box-sizing: border-box;
} 
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    text-decoration: none;
}

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 20px;  
  }

  html {
    scroll-behavior: smooth; 
  }

  .nav-list {
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }

  .section-item a:hover {
    color: #110707;
  }

  .section {
    width: 50%;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--text-color);
  }

@media (max-width: 500px) {
  .section {
    width: 50%;
  }
}
.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #060e07;
  }